<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>Lo sentimos pero <%= htmlWebpackPlugin.options.title %> no funciona adecuadamente si JavaScript no
        esta habilitado. Por favor habilitalo para continuar.</strong>
    </noscript>
    <div id="app" style="width: 100%">
      <router-view></router-view>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
